.login_container {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, auto);
  grid-gap: var(--mm);

  padding-bottom: var(--mm);
  margin-bottom: var(--mm);
  border-bottom: 1px dotted var(--gray);
}

@media (max-width: 780px) {
  .login_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template:
      "a a"
      "b b"
      "c d";
  }
  /* prettier-ignore */
  .login_container > *:nth-child(1) {grid-area: a;}
  /* prettier-ignore */
  .login_container > *:nth-child(2) {grid-area: b;}
  /* prettier-ignore */
  .login_container > *:nth-child(3) {grid-area: c;}
  /* prettier-ignore */
  .login_container > *:nth-child(4) {grid-area: d;}
}

.login_error {
  font: var(--font-S);
  color: var(--light-red);
  line-height: 0;
  text-align: center;
}

.login_error p:not(p:last-child) {
  margin-bottom: var(--mm);
}
