@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html,
body,
p,
h1 {
  padding: 0;
  margin: 0;
}

a,
input {
  outline: none;
}

html,
body {
  --max-w: 919px;

  --r: 3px;
  --rr: 7px;

  --m: 15px;
  --mm: 30px;
  --mmm: 60px;

  --black: rgb(0, 0, 0);
  --dark: rgb(9, 14, 36);
  --gray: rgb(100, 100, 100);
  --light: rgb(225, 225, 225);

  --red: rgb(136, 60, 60);
  --light-red: rgb(233, 185, 185);
  --blue: rgb(61, 60, 136);
  --light-blue: rgb(185, 190, 233);

  --bright-red: #ff075b;
  --bright-green: #1aff22;

  --bright-blue: #00ffcc;
  --bright-purple: #d400d4;

  --font-B: normal 29px/23px Poppins, sans-serif;
  --font-M: normal 21px/15px Poppins, sans-serif;
  --font-S: normal 17px/13px Poppins, sans-serif;

  background-color: var(--dark);
}
