@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html,
body,
p,
h1 {
  padding: 0;
  margin: 0;
}

a,
input {
  outline: none;
}

html,
body {
  --max-w: 919px;

  --r: 3px;
  --rr: 7px;

  --m: 15px;
  --mm: 30px;
  --mmm: 60px;

  --black: rgb(0, 0, 0);
  --dark: rgb(7, 11, 24);
  --gray: rgb(100, 100, 100);
  --light: rgb(225, 225, 225);

  --red: rgb(136, 60, 60);
  --light-red: rgb(233, 185, 185);
  --blue: rgb(61, 60, 136);
  --light-blue: rgb(185, 190, 233);
  --green: rgb(60, 136, 66);
  --light-green: rgb(185, 233, 189);

  --bright-red: rgb(255, 7, 91);
  --bright-green: rgb(26, 255, 34);

  --bright-blue: rgb(0, 255, 204);
  --bright-purple: rgb(212, 0, 212);

  --aqua: rgb(76, 99, 94);
  --aqua-50: rgba(76, 99, 94, 0.5);
  --light-aqua: rgb(225, 247, 242);

  --font-B: normal 29px/23px Poppins, sans-serif;
  --font-M: normal 21px/15px Poppins, sans-serif;
  --font-S: normal 17px/13px Poppins, sans-serif;
  --font-XS: normal 13px/9px Poppins, sans-serif;

  background-color: var(--dark);
}

.status_error {
  color: var(--bright-purple);
}

.status_success {
  color: var(--bright-blue);
}
