.container {
  width: 100%;
  max-width: var(--max-w);
  margin: 0 auto;
  padding: 0 var(--mm);
  box-sizing: border-box;
}

.header {
  font: var(--font-B);
  color: var(--bright-green);
  padding: calc(var(--mm) - 5px) 0;
  margin-bottom: var(--mm);
  border-bottom: 1px dotted var(--green);
}
